.ssh/config
# 忽略.ssh的config
*.bak
*.ddk
*.edk
*.lst
*.lnp
*.mpf
*.mpj
*.obj
*.omf
*.plg
*.rpt
*.tmp
*.__i
*.crf
*.o
*.d
*.axf
*.tra
*.dep
JLinkLog.txt
*.iex
*.htm
*.sct
*.map
# 这个根据电脑来的，忽略掉
*.ASUS
.vscode/c_cpp_properties.json
.vscode/keil-assistant.log
.vscode/uv4.log
.vscode/uv4.log.lock
